<% content_for :title do %>Acerca de….<% end %>
<h3>Acerca de Mascotas</h3>

<p>Nuestro principal objetivo es poder ayudar a la mayor cantidad de animalitos huerfanos
Que se encuentran en la calle, para ofrecerle primeros auxilios, cuidados, y un hogar temporal mientras encontramos a unos padres que puedan ofrecerle calor de hogar para un integrante más de sus familias.</p>

<p>Es por eso que aunque tenemos el corazon puesto en esta gran obra, los recursos en muchos casos son escasos, por eso que cualquier donativo que nos pueden hacer para esta noble causa será muy bien recibido y nuestros animalitos se lo agradeceran</p> 
