<ul class="nav" >
  
  <li><%= link_to 'Home', root_path %></li>
  <li><%=link_to "Acerca de...", page_path("acercade")%></li>
  <li><%=link_to "Contacto", new_contacto_path%></li>
  <%= render 'layouts/navigation_links' %>
</ul>
